/* Remember it's grAy in America and grEy in England */
/* functional colors */
.error-color {
  color: #f34;
}
.success-color {
  color: #373;
}
.info-color {
  color: #37c;
}
.warn-color {
  color: #c73;
}
.block-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.small-width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
}
.med-width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}
.large-width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}
/** Responsive Columns & Containers**/
.ui-border {
  border: 1px solid #ddd;
  border-radius: 4px;
}
.ui-border-3d {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-bottom: 4px double #ddd;
}
.ui-frame {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-bottom: 4px double #ddd;
  background-color: #fff;
  padding: 1em;
}
/* adjust for inserted white-space */
.col {
  /*margin-left: -@col-adjust-space;*/
  position: relative;
  /*left: @col-adjust-space;*/
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 100%;
}
.padded {
  padding: 2em;
}
.xtall {
  height: 768px;
}
.tall {
  height: 628px;
}
.med-height {
  height: 320px;
}
.short {
  height: 200px;
}
.xshort {
  height: 80px;
}
.row {
  display: flex;
}
.row.spaced > .col + .col {
  margin-left: calc(1.23699rem);
}
/* TODO: deprecate full, half, quarter in favor of w-12 style columns */
/* TODO: really design and plan various column and height classes */
/* columns can be prefixed with small- to retain max-widths at narrower screens */
.col.w-12,
.col.full {
  max-width: 100%;
}
.col.w-9,
.col.three-quarter {
  max-width: 75%;
}
.col.w-8,
.col.two-third {
  max-width: 66.66%;
}
.col.w-6,
.col.half {
  max-width: 50%;
}
.col.w-4,
.col.third {
  max-width: 33.333%;
}
.col.w-3,
.col.quarter {
  max-width: 25%;
}
/** Helpers **/
.no-js {
  visibility: hidden;
  opacity: 0;
}
.js {
  visibility: visible;
  opacity: 1;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.halign-left,
.halign-center,
.halign-right,
.valign-top,
.valign-center,
.valign-bottom {
  display: flex;
}
.img-flex {
  display: block;
  margin-left: initial;
  margin-right: initial;
}
.img-h-fitted {
  height: 100%;
}
.img-h-auto {
  height: auto;
}
.valign-top {
  align-items: top;
}
.valign-center {
  align-items: center;
}
.valign-bottom {
  align-items: end;
}
.halign-left {
  justify-content: left;
}
.halign-center {
  justify-content: center;
}
.halign-right {
  justify-content: right;
}
.perfect-center {
  position: relative;
}
.perfect-center > :first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
/* best used in combination with classes such as .med-width */
.viewport-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
/* not great for form inputs that need to be sent. use .invisible instead */
.hidden {
  display: none;
}
.invisible {
  opacity: 0;
  width: 0;
  height: 0;
  border: none;
  padding: 0;
  margin: 0;
  display: inline;
}
.inline-middle {
  display: inline-block;
  vertical-align: middle;
}
.inline-middle + .inline-middle {
  margin-left: 1em;
}
.hoverable:hover {
  cursor: pointer;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  height: 100%;
}
body {
  font-size: 1.8rem;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  background-color: #eee;
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 300px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1rem;
}
section,
form {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
a,
a:active,
a:link,
a:visited {
  color: #37c;
  text-decoration: underline;
}
a:hover {
  color: #aaa;
  text-decoration: underline;
}
a.active {
  color: #887777;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
ol,
ul {
  margin-top: 0;
  padding-left: 2.4rem;
}
ul {
  list-style: circle;
}
/** Tables **/
table {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-bottom: 4px double #ddd;
  background-color: #fff;
  padding: 1em;
  width: 100%;
  border-collapse: collapse;
  margin: 2em auto;
}
td,
th {
  padding: 1rem;
  text-align: left;
  white-space: nowrap;
}
th {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-bottom: 4px double #ddd;
}
td {
  word-wrap: break-word;
}
table.banded > tbody > tr:nth-child(odd) > td {
  background-color: #fff;
}
table.banded > tbody > tr:nth-child(even) > td {
  background-color: #ddd;
}
tbody > tr > th {
  border-color: #ddd;
  border-right-width: 4px;
  border-right-style: double;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
th a:link,
th a:visited,
th a:active {
  color: #ccc;
}
th a:hover {
  color: #fff;
}
caption {
  padding: 1rem;
  font-style: italic;
  font-weight: 300;
  color: #666;
}
/** Descriptive Lists **/
dt {
  font-weight: 500;
}
dt:after {
  content: ":";
}
dd {
  margin-left: 2rem;
}
dd + dt {
  margin-top: 2rem;
}
/** Images **/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
/** Captions **/
figure {
  background-color: #fff;
  text-align: center;
  padding: 2rem;
}
blockquote:before {
  content: '"""';
}
blockquote:after {
  content: '"""';
}
/** Misc **/
details:hover {
  cursor: pointer;
}
details p {
  cursor: default;
}
pre > code {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-bottom: 4px double #ddd;
  background-color: #fff;
  padding: 1em;
  display: block;
  background-color: #333;
  color: #fff;
}
p > code {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  color: #f34;
  background-color: #fff;
  border-color: #ddd;
  padding: 0.2rem 1rem;
}
/**** REGION ****/
/* styles for specific sections of the page */
/** Global Regions **/
header,
main,
footer {
  padding-left: 1em;
  padding-right: 1em;
}
/** Header, Logo, Nav **/
header a.logo {
  float: left;
}
header a.logo img {
  width: 6rem;
  height: auto;
}
header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
}
header nav {
  text-align: right;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}
header nav a {
  display: inline-block;
  vertical-align: middle;
}
nav a + a {
  margin-left: 1em;
}
/** Main, Section, Messages **/
#flash {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  margin-top: 2em;
  background-color: #fff6;
}
main {
  max-width: 1300px;
  margin: 2em auto;
  padding: 1em;
}
section {
  padding: 1em 0;
}
.messages {
  font-style: italic;
}
.messages.error {
  color: #f34;
}
/** Footer **/
footer {
  margin-top: 2em;
  color: #fff;
  background-color: #333;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 300px;
}
footer .menu {
  margin-top: 2rem;
}
footer .menu {
  margin-top: 2rem;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  color: #fff;
  font-weight: 500;
  text-align: left;
}
footer a,
footer a:link,
footer a:active,
footer a:visited {
  color: #ccc;
  text-decoration: none;
}
footer a:hover {
  color: #aaa;
}
/**** MENU ****/
ul.menu {
  list-style: none;
  padding-left: 0;
}
ul.menu.inline li {
  display: inline-block;
}
ul.menu.inline li + li {
  margin-left: 1em;
}
ul.menu.primary {
  font-size: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}
ul.menu.secondary {
  font-size: 1.6rem;
}
/**** FORM ****/
/** Global Form Elements **/
select,
textarea,
input[type=text],
input[type=number],
input[type=password],
input[type=date],
input[type=email] {
  padding: 1rem;
  width: 100%;
  margin: 1rem 0 2rem;
  display: block;
}
select {
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width%3D"292.4" height%3D"292.4"%3E%3Cpath fill%3D"%23888888" d%3D"M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z"%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
select[multiple] {
  background-image: none;
  background-repeat: no-repeat;
  min-height: 256px;
}
label {
  display: block;
  margin: 2rem 0 1rem;
  font-weight: 500;
}
label > input {
  margin-left: 1em;
}
/* very common inline elements that should be spaced */
.actions a + a,
.actions a + button,
.actions a + input[type=submit],
.actions a + .button,
.actions button + a,
.actions button + button,
.actions button + input[type=submit],
.actions button + .button,
.actions input[type=submit] + a,
.actions input[type=submit] + button,
.actions input[type=submit] + input[type=submit],
.actions input[type=submit] + .button,
.actions .button + a,
.actions .button + button,
.actions .button + input[type=submit],
.actions .button + .button {
  margin-left: 2rem;
}
textarea {
  resize: none;
  min-height: 256px;
}
select,
input,
button,
textarea {
  background-color: #fff;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: inherit;
  font-weight: 300;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[type=checkbox],
input[type=radio] {
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0 1em 0 0;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #ddd;
  border-color: #aaa;
}
input[type=radio] {
  border-radius: 50%;
}
input[type=checkbox]:hover,
input[type=radio]:hover {
  cursor: pointer;
  border-color: #ccc;
}
input[type=checkbox]:checked,
input[type=radio]:checked {
  background-color: #666;
  border-color: #aaa;
}
input:disabled,
select:disabled,
textarea:disabled {
  background-color: #ccc;
  border-color: #ccc;
}
input:disabled:hover,
select:disabled:hover {
  cursor: default;
}
button,
input[type=submit],
a.button,
.button {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  min-width: 12rem;
  min-height: 6rem;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  background-color: #37c;
  color: #fff;
  border: none;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
button.alt,
input.alt[type=submit],
.button.alt {
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-bottom: 4px double #ddd;
}
button:hover,
input[type=submit]:hover,
.button:hover,
select:hover,
option:hover,
a:hover {
  cursor: pointer;
}
button:hover,
input[type=submit]:hover,
.button:hover {
  background-color: #887777;
  color: #fff;
}
a.button {
  line-height: 3.2rem;
}
a.button:hover {
  text-decoration: none;
}
button.alt:hover,
input.alt[type=submit]:hover,
.button.alt:hover {
  background-color: #ddd;
  color: #888;
}
/* useful for inline columns to make buttons vertically inline with inputs*/
.actions button,
.actions input[type=submit],
.actions .button {
  margin-top: 2rem;
  margin-bottom: 1rem;
  vertical-align: middle;
}
.inline.actions button,
.inline.actions input[type=submit],
.inline.actions .button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
fieldset {
  padding: 3rem 0 2rem 0;
  margin-top: 4rem;
  position: relative;
  border: none;
}
legend {
  position: absolute;
  left: 0rem;
  top: 0rem;
}
fieldset.ui-frame {
  padding: 4rem 2rem 2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
fieldset.ui-frame > legend {
  padding: 1rem 2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  left: 2rem;
  top: -2rem;
}
fieldset.ui-frame-3d {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-bottom: 4px double #ddd;
  background-color: #fff;
  padding-top: 4rem;
}
fieldset.ui-frame-3d > legend {
  border: 1px solid #ddd;
  border-bottom: 4px double #ddd;
  background-color: #fff;
  border-radius: 4px;
}
/* Label Styling */
label.disabled {
  color: #aaa;
}
label.disabled.hoverable {
  cursor: default;
}
legend.required:after,
label.required:after {
  content: "*";
  color: #f34;
  margin-left: 0.5em;
}
.error select,
.error textarea,
.error input,
select.error,
textarea.error,
input.error {
  border-color: #f34;
  border-width: 2px;
}
/** Form Assistance **/
.form-prompt {
  font-size: 1.6rem;
  font-style: italic;
}
@media only screen and (max-width: 961px) {
  .row {
    display: block;
  }
  .row > .col + .col {
    margin-top: 2rem;
  }
  .row.spaced > .col + .col {
    margin-left: 0;
    margin-top: 2rem;
  }
  .row.spaced > .col.full,
  .row.spaced > .col.three-quarter,
  .row.spaced > .col.two-third,
  .row.spaced > .col.half,
  .row.spaced > .col.third,
  .row.spaced > .col.quarter,
  .col.full,
  .col.three-quarter,
  .col.two-third,
  .col.half,
  .col.third,
  .col.quarter {
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
  header {
    display: block;
  }
  header a.logo {
    float: none;
    display: block;
    margin: 1em auto;
    max-width: 200px;
  }
  header nav {
    max-width: 100%;
  }
  body {
    padding-bottom: 0;
  }
  footer {
    position: static;
    height: auto;
  }
  .col.small-quarter {
    max-width: 25%;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  legend {
    left: 1em;
  }
  h1,
  h2,
  h3 {
    text-align: center;
  }
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=number],
  input[type=tel],
  input[type=date],
  select,
  textarea,
  button,
  input[type=submit],
  .button {
    width: 100%;
  }
  .inline.actions button,
  .inline.actions input[type=submit],
  .inline.actions .button {
    margin-top: 2rem;
  }
}
input[type=submit],
button,
.button {
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
a,
input {
  -webkit-transition: color 0.3s, color 0.3s;
  -moz-transition: color 0.3s, color 0.3s;
  transition: color 0.3s, color 0.3s;
}
@keyframes fade-fly-up {
  0% {
    top: 16rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.fade-fly-up {
  position: relative;
  opacity: 0;
  animation: fade-fly-up 0.7s 1 forwards;
}
/** Alternate Theme **/
.alt {
  background-color: #333;
  color: #fff;
}
.alt a,
.alt a:link,
.alt a:active,
.alt a:visited {
  color: #ccc;
}
.alt a:hover {
  color: #aaa;
}
/** Icons **/
.icon {
  display: inline-block;
  vertical-align: baseline;
}
.icon.before {
  margin-right: 0.5em;
}
.icon.after {
  margin-left: 0.5em;
}
.icon.success {
  color: #373;
}
.icon.info {
  color: #37c;
}
.icon.warning {
  color: #c73;
}
.icon.error {
  color: #f34;
}
/** Breadcrumb **/
.breadcrumb {
  font-size: 1.2em;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.breadcrumb .crumb,
.breadcrumb .spacer {
  color: #666;
  display: inline-block;
  vertical-align: middle;
}
.breadcrumb a.crumb:hover {
  color: #aaa;
}
.breadcrumb .spacer + .spacer,
.breadcrumb .spacer + .crumb,
.breadcrumb .crumb + .spacer,
.breadcrumb .crumb + .crumb {
  margin-left: 2rem;
}
/** Pagination **/
.pagination {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pagination a + a,
.pagination a + span,
.pagination span + a,
.pagination span + span {
  margin-left: 2rem;
  flex-wrap: wrap;
}
.pagination a,
.pagination span {
  flex: 0 0 4rem;
  text-align: center;
}
.pagination a.active,
.pagination span.active {
  font-weight: 500;
  color: #333;
  text-decoration: underline;
}
/** Tooltip **/
.tooltip {
  color: #aaa;
}
.tooltip .__react_component_tooltip {
  opacity: 1;
}
.tooltip .type-success {
  background-color: #373;
}
.tooltip .__react_component_tooltip.type-success:after {
  border-top-color: #373;
}
.tooltip .type-info {
  background-color: #37c;
}
.tooltip .__react_component_tooltip.type-info:after {
  border-top-color: #37c;
}
.tooltip .type-warning {
  background-color: #c73;
}
.tooltip .__react_component_tooltip.type-warning:after {
  border-top-color: #c73;
}
.tooltip .type-error {
  background-color: #f34;
}
.tooltip .__react_component_tooltip.type-error:after {
  border-top-color: #f34;
}
/** Code Styling **/
code .var {
  color: #ccc;
}
code .bold {
  color: #c73;
}
/** Mobile Phone Field **/
.input-phone select,
.input-phone input {
  flex: 0 1 6rem;
}
.input-phone .phone-subscriber {
  flex: 0 1 8rem;
}
/** Autocomplete **/
.auto-complete {
  position: relative;
}
.auto-complete .suggestions {
  position: absolute;
  width: 100%;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 30rem;
  bottom: -31rem;
  z-index: 1;
}
.auto-complete .suggestions .suggestion {
  padding: 1rem 2rem;
  height: 5rem;
  background-color: #fff;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  float: left;
  clear: both;
  width: 100%;
}
.auto-complete .suggestion:first-of-type {
  border-top: 1px solid #ddd;
}
.auto-complete .suggestions .suggestion:hover {
  padding: 1rem 2rem;
  background-color: #eee;
}
/** Helpers **/
.table-wrapper {
  overflow-x: auto;
  margin: 2rem auto;
}
.table-wrapper table {
  margin: 0 auto;
}
