extends /layout/page

block content

  div.ui-frame.large-width

    h1 Administration

    +menu('accountPrimary', [
      'get:account',
      'adminPage',
    ]).inline.primary

    +menu('admin', null, {
      menuClasses: 'col half'
    }).inline
